<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                screens: {
                    xs: "400px",
                    sm: "640px",
                    md: "768px",
                    lg: "1024px",
                    xl: "1280px",
                    xxl: "1536px"
                }
            }
        }
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Navbar -->
    <%- include('partials/navbar') %>


    <!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- HEADING SECTION -->
    <section class="relative homepage">
        <h4 class="mt-[9.5%] text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">EXPLORE THE
            <span style="color: #f2dac3da">COLLECTION</span>
        </h4>
        <div id="background-container" class="background-container relative p-32 h-128 text-center overflow-hidden">
            <div class="content relative">
                <h5 class="text-lg font-bold">
                    <span class="block md:hidden">Atharv More</span>
                    <span class="hidden md:block">Earth Without Art is Just Eh! <br> Atharv More</span>
                </h5>
                <div class="divider w-1/2 h-0.5 bg-black mb-[50%] mx-auto"></div>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- MARQUEE QUOTESS -->
    <div class="marquee bg-gray-50 text-black py-1 px-4 shadow-lg w-full">
        <div class="marquee-content font-bold">
            <span class="pl-5">"Art enables us to find ourselves and lose ourselves at the same time" - Thomas
                Merton</span>
            <span class="pl-5">"The purpose of art is washing the dust of daily life off our souls." - Pablo
                Picasso</span>
            <span class="pl-5">"Every artist dips his brush in his own soul, and paints his own nature into his
                pictures." - Henry chips Ward Beecher</span>
            <span class="pl-5">"Art should comfort the disturbed and disturb the comfortable." - Banksy</span>
            <span class="pl-5">"Art is the only way to run away without leaving home." - Twyla Tharp</span>
            <span class="pl-5">"Art is not what you see, but what you make others see." - Edgar Degas</span>
            <span class="pl-5">"The aim of art is to represent not the outward appearance of things, but their inward
                significance." - Aristotle</span>
            <span class="pl-5">"Creativity takes courage." - Henri Matisse</span>
            <span class="pl-5">"Art is the lie that enables us to realize the truth." - Pablo Picasso</span>
            <span class="pl-5">"Art is the most intense mode of individualism that the world has known." - Oscar
                Wilde</span>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
    <div id="art">
        <div
            class="contain flex w-[100%] md:w-[80%] mx-auto justify-center items-center flex-col md:flex-row gap-[50px]">
            <div class="container_body md:w-[60%] w-[80%]">
                <h2 class="pb-5 pt-[120px] text-center">Welcome</h2>
                <p class="text-center">
                    Here, creativity meets passion, bringing to life a vibrant collection of artworks that reflect
                    unique perspectives and
                    artistic exploration. Dive into a world of colors, shapes, and stories, where each piece is a
                    journey through imagination and expression. Whether you're an art enthusiast or a casual observer, I
                    invite you to explore my gallery, share your thoughts, and be inspired by the beauty and depth of
                    the visual arts. Thank you for visiting, and enjoy the artistic adventure!
                </p>
            </div>
        </div>

        <div
            class="contain flex w-[100%] md:w-[80%] mx-auto justify-center items-center flex-col md:flex-row gap-[50px]">
            <div class="container_body md:w-[60%] w-[80%]">
                <button class="py-3 px-6 bg-blue-500 text-white font-semibold rounded-md mt-[120px] items-center">
                    Dive In
                </button>
            </div>
        </div>


        <div
            class="cards flex flex-wrap w-[90%] md:w-[80%] mx-auto gap-[30px] justify-center bg-slate-500 bg-opacity-40 rounded-full mt-7">
            <div
                class="card_body shadow-lg md:w-[30%] p-4 w-[300px] bg-black bg-opacity-70 text-white mt-5 rounded-[10%]">
                <img class="rounded-md" src="images/1.jpg" alt="">
                <h4 class="text-2xl font-bold flex flex-col items-center">Card Heading</h4>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fuga.</p>
            </div>
            <div
                class="card_body shadow-lg md:w-[30%] p-4 w-[300px] text-white bg-black bg-opacity-70 mt-5 rounded-[10%]">
                <img class="rounded-md" src="images/1.jpg" alt="">
                <h4 class="text-2xl font-bold flex flex-col items-center">Card Heading</h4>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fuga.</p>
            </div>
            <div
                class="card_body shadow-lg md:w-[30%] p-4 w-[300px] text-white bg-black bg-opacity-70 mt-5 rounded-[10%]">
                <img class="rounded-md" src="images/1.jpg" alt="">
                <h4 class="text-2xl font-bold flex flex-col items-center">Card Heading</h4>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fuga.</p>
            </div>
            <div
                class="card_body shadow-lg md:w-[30%] p-4 w-[300px] text-white bg-black bg-opacity-70 mb-5 rounded-[10%]">
                <img class="rounded-md" src="images/1.jpg" alt="">
                <h4 class="text-2xl font-bold flex flex-col items-center">Card Heading</h4>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fuga.</p>
            </div>
            <div
                class="card_body shadow-lg md:w-[30%] p-4 w-[300px] text-white bg-black bg-opacity-70 mb-5 rounded-[10%]">
                <img class="rounded-md" src="images/1.jpg" alt="">
                <h4 class="text-2xl font-bold flex flex-col items-center">Card Heading</h4>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fuga.</p>
            </div>
            <div
                class="card_body shadow-lg md:w-[30%] p-4 w-[300px] text-white bg-black bg-opacity-70 mb-5 rounded-[10%]">
                <img class="rounded-md" src="images/1.jpg" alt="">
                <h4 class="text-2xl font-bold flex flex-col items-center">Card Heading</h4>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, fuga.</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>

</html>