<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Anime</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/categories.css">

        <style>
            body {
                background-image: url('/images/background7.png');
                background-position: center;
                color: #fff;
            }
        </style>
</head>



<body>
    <%- include('../../partials/navbar') %>

        <div id="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2Fluffy.jpg?alt=media&token=b2f18989-b1b1-40b1-b615-565437066d30"
                            alt="">
                        <div class="overlay">
                            <h3>Monkey D Luffy</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2Fsukuna.jpg?alt=media&token=e36b4a29-8946-483d-bd13-5c5f6d2d20a3"
                            alt="">
                        <div class="overlay">
                            <h3>Scuba Diving</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2FLevi.jpg?alt=media&token=867955da-06ce-42b3-b841-df825f3852bb  "
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2FSanji.jpg?alt=media&token=eeac4480-d7ca-4c3f-8ebb-0fb955ce3621"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2Fnaruto.jpg?alt=media&token=8d220439-31e2-496e-86eb-f7cfb05b1aea"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2Fchainsaw.jpg?alt=media&token=0cf28480-5f2b-4262-b94a-7d40de1691d0"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2Fcoco.jpg?alt=media&token=0e713c95-a84e-4016-8843-478107186cc3"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/anime%2Felsa.jpg?alt=media&token=134cb78e-0b18-4913-8bb2-36ad1f2ec5b6"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../../partials/footer') %>


</body>

</html>