<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Anime</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/categories.css">


</head>



<body>
    <%- include('../../partials/navbar') %>

        <div id="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <img src="/images/IMG_20230617_091303_679.jpg" alt="">
                        <div class="overlay">
                            <h3>Monkey D Luffy</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/images/2.jpg" alt="">
                        <div class="overlay">
                            <h3>Scuba Diving</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/images/3.jpg" alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/images/3.jpg" alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../../partials/footer') %>


</body>

</html>