<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Celebs</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/categories.css">

        <style>
            body {
                background-image: url('/images/background6.png');
                background-position: center;
                background-size: cover;
                color: #fff;
            }
        </style>
</head>



<body>
    <%- include('../../partials/navbar') %>

        <div id="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F1.jpg?alt=media&token=b27b7d04-4a6f-4379-840b-0dcf93062327"
                            alt="">
                        <div class="overlay">
                            <h3>Mountaineering</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F2.jpg?alt=media&token=a927bdfa-9bbe-4724-b7a0-207fa9cbfb17"
                            alt="">
                        <div class="overlay">
                            <h3>Scuba Diving</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F3.jpg?alt=media&token=19b206ab-c064-4a44-9a5b-45efc2284ba3"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F4.jpg?alt=media&token=713c2213-5a41-4db1-a541-ad8c08861921"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F5.jpg?alt=media&token=6be1e9a8-4c52-4962-877f-19b2e1d0a0d6"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F6.jpg?alt=media&token=e407ccbe-4600-4cc7-ac77-9b0856e1ab9e"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F7.jpg?alt=media&token=c46dfc42-7a57-46f8-9019-20ca196bb1d8"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F8.jpg?alt=media&token=a2db18ab-a16c-4965-abe8-665c75e94707"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F9.jpg?alt=media&token=6e597529-5296-4d4b-8d65-6275de38825b"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/celebs%2F10.jpg?alt=media&token=c14b36fd-9d77-4070-92c9-26bae9cc105f"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../../partials/footer') %>


</body>

</html>