<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sketches</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/categories.css">
        <style>
            body {
                background-image: url('/images/background6.png');
                background-position: center;
                background-size: cover;
                color: #fff;
            }
        </style>

</head>



<body>
    <%- include('../../partials/navbar') %>

        <div id="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F8.jpg?alt=media&token=1ef0e76b-a2d6-4f00-9a95-7cbc41865cfc"
                            alt="">
                        <div class="overlay">
                            <h3>Mountaineering</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F3.jpg?alt=media&token=0f1a0275-8071-4a13-b1f5-0f712e2460a1"
                            alt="">
                        <div class="overlay">
                            <h3>Scuba Diving</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F11.jpg?alt=media&token=9cef232d-6103-4ace-8a57-102a1ee13570"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F14.jpg?alt=media&token=7976a61b-0e88-4300-87ee-caff8edac86e"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F4.jpg?alt=media&token=20310ce2-8843-413e-b13f-89e018feb49f"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F9.jpg?alt=media&token=151e09d2-0108-43b7-9125-970eb6c80795"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F12.jpg?alt=media&token=1bb1e528-6ea6-4bd7-ac21-334908f99b8c"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/sketches%2F10.jpg?alt=media&token=3a0f404b-7563-46a8-904c-ea0b2283f05d"
                            alt="">
                        <div class="overlay">
                            <h3>Travel World</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea
                                nam.
                                Quod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../../partials/footer') %>


</body>

</html>