<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <%- include('../../components/Links.html') %>
        <link rel="stylesheet" href="/css/contact.css">

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('#contact-form').addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const formData = new FormData(e.target);
                    const jsonData = Object.fromEntries(formData.entries());

                    try {
                        const response = await fetch('/contact', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(jsonData)
                        });

                        if (response.ok) {
                            e.target.reset();
                            showCustomAlert('The Artist will be with you shortly!','Thank You!🌻')
                        } else {
                            const errorText = await response.text();
                            alert('Error saving contact information: ' + errorText);
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        alert('An error occurred while saving contact information');
                    }
                });
            });

            function showCustomAlert(mainMessage, thankYouMessage) {
                document.getElementById('alertMessage').innerText = mainMessage;
                document.getElementById('thankYouMessage').innerText = thankYouMessage;
                document.getElementById('customAlert').style.display = 'block';
            }

            function closeAlert() {
                document.getElementById('customAlert').style.display = 'none';
            }
        </script>
</head>

<body>
    <%- include('../partials/navbar') %>

        <!-- FORM--------------------------------------------------------------------------------------------------- -->
        <section id="contact">
            <h1 class="section-header">Contact Us</h1>
            <div class="contact-wrapper">
                <form id="contact-form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value=""
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email"
                                value="" required>
                        </div>
                    </div>
                    <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>

                    <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                        <div class="alt-send-button">
                            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                        </div>
                    </button>

                </form>
                <!-- FORM END--------------------------------------------------------------------------------------------------- -->

                <!-- INFORMATION ----------------------------------------------------------------------------------------------- -->

                <div class="direct-contact-container">
                    <ul class="contact-list">
                        <li class="list-item"><span class="contact-text place">Mumbai, Maharashtra</span></i></li>
                        <li class="list-item"><span class="contact-text phone"><a href="tel:1-212-555-5555"
                                    title="Give me a call">+91 9167356290</a></span></i></li>
                        <li class="list-item"><span class="contact-text gmail pl-[10px]"><a href="mailto:#"
                                    title="Send me an email">atharvmore30@gmail.com</a></span></i></li>
                    </ul>

                    <ul class="social-media-list">
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>

                    <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
                </div>
                <!-- INFORMATION END ----------------------------------------------------------------------------------------------- -->
            </div>
        </section>

        <!-- Include Custom Alert Modal -->
        <%- include('../partials/customAlert') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
</body>

</html>