<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">

        <style>
            .poppins-semibold {
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-style: normal;
            }

            li a:hover {
                color: #00c3ff;
            }

            li a.active {
                color: #00c3ff;
            }
        </style>

</head>

<body>
    <nav class="flex justify-between px-8    text-white bg-black items-center h-[70px] poppins-semibold">
        <div class="text-lg pl-5 font-bold hover:text-blue-200">
            <a href="https://www.instagram.com/a_raandom_artist_/">@a_raandom_artist</a>
        </div>
        <ul class="flex flex-grow justify-center mr-28 items-center gap-7">
            <li><a href="/" class="">Home</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="#art-types">Art Type</a></li>
            <li><a href="/contact" class="">Contact</a></li>
        </ul>
        <img src="images/H.png" alt="Logo" class="h-8 w-8 mr-10 rounded-lg hidden md:block lg:block sm:hidden">
    </nav>
    <!-- TITLE SECTION--------------------------------------------------------------------------------- -->
    <section class="relative homepage">
        <h4 class="mt-[9.5%] text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">EXPLORE THE
            <span style="color: #f2dac3da">COLLECTION</span>
        </h4>
        <div id="background-container" class="background-container relative p-32 h-128 text-center overflow-hidden">
            <div class="content relative">
                <h5 class="text-lg font-extrabold">
                    <span class="block md:hidden">Atharv More</span>
                    <span class="hidden md:block">Earth Without Art is Just Eh! <br> Atharv More</span>
                </h5>
                <div class="divider w-1/2 h-0.5 bg-black mb-[50%] mx-auto"></div>
            </div>
        </div>
    </section>
    <!-- TITLE SECTION END--------------------------------------------------------------------------------- -->



    <!-- MARQUEE QUOTESS -------------------------------------------------------------------------------------------------------- -->
    <div class="marquee bg-gray-50 text-black py-1 px-4 shadow-lg w-full">
        <div class="marquee-content font-bold">
            <span class="pl-5">"Art enables us to find ourselves and lose ourselves at the same time" - Thomas
                Merton</span>
            <span class="pl-5">"The purpose of art is washing the dust of daily life off our souls." - Pablo
                Picasso</span>
            <span class="pl-5">"Every artist dips his brush in his own soul, and paints his own nature into his
                pictures." - Henry chips Ward Beecher</span>
            <span class="pl-5">"Art should comfort the disturbed and disturb the comfortable." - Banksy</span>
            <span class="pl-5">"Art is the only way to run away without leaving home." - Twyla Tharp</span>
            <span class="pl-5">"Art is not what you see, but what you make others see." - Edgar Degas</span>
            <span class="pl-5">"The aim of art is to represent not the outward appearance of things, but their
                inward
                significance." - Aristotle</span>
            <span class="pl-5">"Creativity takes courage." - Henri Matisse</span>
            <span class="pl-5">"Art is the lie that enables us to realize the truth." - Pablo Picasso</span>
            <span class="pl-5">"Art is the most intense mode of individualism that the world has known." - Oscar
                Wilde</span>
        </div>
    </div>
    <!-- MARQUEE QUOTESS END -------------------------------------------------------------------------------------------------------- -->

    <!--HEADING ----------------------------------------------------------------------------------------------------------------------------------------- -->
    <div id="art">
        <div
            class="contain flex w-[100%] md:w-[80%] mx-auto justify-center items-center flex-col md:flex-row gap-[50px]">
            <div class="container_body md:w-[60%] w-[80%]">
                <h2 class="pb-5 pt-[80px] text-center ">Welcome Folks</h2> 
                <p class="pt-[20px] text-lg text-justify"> 
                    Here, creativity meets passion, bringing to life a vibrant collection of artworks that reflect
                    unique perspectives and artistic exploration. Dive into a world of colors, shapes, and stories,
                    where each piece is a journey through imagination and expression. Whether you're an art enthusiast
                    or a
                    casual observer, I invite you to explore my gallery, share your thoughts, and be inspired by the
                    beauty
                    and depth of the visual arts. Thank you for visiting, and enjoy the artistic adventure!
                </p>
            </div>
            <div class="image_container md:w-[40%] w-[80%] pt-[20px] hidden md:block">
                <img src="/images/welcome1.png" class="w-full h-auto">
            </div>
        </div>


        <!--HEADING END ----------------------------------------------------------------------------------------------------------------------------------------- -->



        <!-- ART TYPES---------------------------------------------------------------------------------------------------------------------------- -->
        <div id="art-types">
            <section class="section | destination-section mt-[100px]" id="destinations">
                <h2 class="title"><i class="fa fa-paint-brush"></i>
                    Dive In </h2>
                <div class="grid-container">
                    <a href="/canvas" class="flex-center | destination-item destination-item-1">
                        <p><span>Soothing</span> Canvas</p>
                    </a>
                    <a href="/anime" class="flex-center | destination-item destination-item-2">
                        <p><span>Whimsical
                            </span> Anime</p>
                    </a>
                    <a href="/sketch" class="flex-center | destination-item destination-item-3">
                        <p><span>Ethereal
                            </span>Sketches </p>
                    </a>
                    <a href="/doodles" class="flex-center | destination-item destination-item-4">
                        <p><span>Vibrant</span> Doodles
                        </p>
                    </a>
                    <a href="/celebs" class="flex-center | destination-item destination-item-5">
                        <p><span>Iconic</span>Celebs</p>
                    </a>
                </div>
            </section>
        </div>

        <!-- ART TYPES END---------------------------------------------------------------------------------------------------------------------------- -->


        <!-- Footer -->
        <%- include('../partials/footer') %>

</body>

</html>